*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DCF5BC;
}
.form-Recuperar-contraseña{
    width: 400px;
    background: #0f4229;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: "calibri";
    color: white;
    box-shadow: 1px 3px 7px #000;
}
.form-Recuperar-contraseña{
    width: 50%;
    display:block;
    justify-content: center;
}
.cuenta{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-Recuperar-contraseña h1 {
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background: #F0F0E9;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #7AC64D ;
    font-family: "calibri";
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.form-Recuperar-contraseña p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-Recuperar-contraseña a {
    color: white;
    text-decoration: underline;
}
.form-Recuperar-contraseña .botons{
    width: 100%;
    background: #7AC64D;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 20px;
}